
<!--font : <span>  <fa-icon [icon]="glasses"></fa-icon></span>-->
<!--<p>-->
<!--  <ngb-alert [dismissible]="false">-->
<!--    <strong>Warning!</strong> Better check yourself, you're not looking too good.-->
<!--  </ngb-alert>-->
<!--</p>-->
<header class="base-header ebcs-h-7 border-bottom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-3 col-sm-1"></div>
      <div class="col-lg-6 col-sm-10 text-center p-1">
        <h3 class="h-100">سیستم مدیریت پیمانکاران ساخت غرفه</h3>
      </div>
      <div class="col-lg-3 col-sm-1"></div>
    </div>
  </div>
</header>
<header class="base-content ebcs-h-93">
  <router-outlet></router-outlet>
</header>


