<app-modal-header [title]="title" (closed)='close()'></app-modal-header>
<form [formGroup]="formGroup">
  <div class="row p-3">
    <div class="col-12">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" formControlName="Name" class="form-control text-right" placeholder="مثال : 21">
          <div class="input-group-append">
            <span class="input-group-text">شماره غرفه</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3 ">
          <div ngbDropdown  class="d-inline-block ebcs-dir-rtl flex-fill "  >
            <button class="btn form-control ebcs-border-radius-Left ebcs-border text-right" id="dropdownBasic1" ngbDropdownToggle >{{dpdown}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <ng-template ngFor let-exhibition [ngForOf]="exhibitionDropDown">
                <button ngbDropdownItem (focus)="setData(exhibition)" >{{exhibition.Title}}</button>
              </ng-template>
            </div>
          </div>
          <div class="input-group-append ">
            <span class="input-group-text">نمایشگاه </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3 ">
          <div ngbDropdown  class="d-inline-block ebcs-dir-rtl flex-fill "  >
            <button class="btn form-control ebcs-border-radius-Left ebcs-border text-right" id="dropdownBasic2" ngbDropdownToggle >{{halldpdown}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <ng-template ngFor let-hall [ngForOf]="hallDropDown">
                <button ngbDropdownItem (focus)="setHallData(hall)" >{{hall.Title}}</button>
              </ng-template>
            </div>
          </div>
          <div class="input-group-append ">
            <span class="input-group-text">سالن </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3 ">
          <div ngbDropdown  class="d-inline-block ebcs-dir-rtl flex-fill "  >
            <button class="btn form-control ebcs-border-radius-Left ebcs-border text-right" id="dropdownBasic3" ngbDropdownToggle >{{participantdpdown}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <ng-template ngFor let-partic [ngForOf]="participantDropDown">
                <button ngbDropdownItem (focus)="setParticipantData(partic)" >{{partic.Title}}</button>
              </ng-template>
            </div>
          </div>
          <div class="input-group-append ">
            <span class="input-group-text">مشارکت کننده </span>
          </div>
        </div>
      </div>

    </div>
  </div>

</form>
<app-modal-footer (saved)="save()"></app-modal-footer>
