body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.base-header{
  height: 10%;
  background-color: white;
}
.base-content{
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: blue;
}

.ebcs-h-7{
  height: 7vh !important;
}
.ebcs-h-93{
  height: 93vh !important;
}
.ebcs-dir-rtl{
  direction: rtl;
  text-align: right;
}
.ebcs-h-90{
  height: 90% !important;
}
.ebcs-h-95{
  height: 95% !important;
}
.ebcs-h-5{
  height: 5% !important;
}
.ebcs-clickable{
  text-decoration: none !important;
  cursor: pointer;

}
.ebcs-border-radius-0{
  border-radius: 0px !important;
}
.ebcs-clickable:hover{
  text-decoration: none !important;
  color:lightskyblue;
  cursor: pointer;
}
.ebcs-border-bold-right-red{
  border-right: solid 5px red;
}

.ebc-level-1{
  z-index: 0.3 !important;
}
.ebc-level-2{
  z-index: 0.7 !important;
}
.ebc-level-3{
  z-index: 1 !important;
}
@media only screen and (max-width: 600px) {
h3{
  font-size: 12px !important;
}
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  h3{
    font-size: 15px !important;
  }
  }
.ebcs-font-normal{
  font-size: 18px;
}
table{
  text-align: center;
}
