.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

.measurements {
  border:  5px solid;
  border-radius: 50%;
  text-align: center;
  width: 150px !important;
  height: 150px !important;
  margin: 10px;
  padding: 40px;
  color: white;
}
}
