<div class="row ebcs-h-5">
  <div class="col-12 border-bottom pr-0 pl-0 h-100 ebcs-bg-yellow">
    <div class="d-flex  h-100 ">
      <ng-template ngFor let-subMenu [ngForOf]="subMenus">
        <div class="m-auto flex-fill border-left text-center ebcs-clickable"
             [routerLink]="subMenu.Link" [ngClass]="this.router.url.includes('/'+subMenu.Link)?'text-white':''">
          <i  [ngClass]="subMenu.Icon"></i>
          <span class="pr-2" [class]="mobile?'d-none':''">{{subMenu.Title}}</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="row ebcs-h-95">
  <div class="col-12 overflow-auto">
    <router-outlet (activate)="activeLinkHandler()"></router-outlet>
  </div>
</div>
