<header class="base-header ebcs-h-7 border-bottom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-3 col-sm-1"></div>
      <div class="col-lg-6 col-sm-10 text-center p-1">
        <h3 class="h-100 pt-2">نمایشگاه بین المللی تهران</h3>
      </div>
      <div class="col-lg-3 col-sm-1"></div>
    </div>
  </div>
</header>
<header class="base-content ebcs-h-93">

  <div class="box">

    <form [formGroup]="formGroup" (submit)="onSubmit()" class="login-form">
      <div class="row">
        <div class="col-lg-6 col-sm-12  align-self-center text-center">
          <div class="container w-100 h-100 " style="text-align: center;">
            <div class="brand-circle rounded-circle" style="margin-right: 25%">
              <img class="pt-2" [src]="logo" height="90%">
            </div>
            <div class="pt-2 text-center">
              <span>نمایشگاه بین المللی تهران</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 p-4 border-left text-center">
          <h3>ورود به پنل</h3>
          <input type="text" formControlName="Username" name="username" placeholder="نام کاربری" required>
          <input type="password" formControlName="Password" name="password" placeholder="رمز عبور" required>
          <input [disabled]="formGroup.invalid" type="submit" name="Login" value="ورود">
          <div class="links">
            <!--          <a href="#">Forgot Password</a>-->
            <!--          <a href="#">Sign Up</a>-->

          </div>
        </div>
      </div>
    </form>
  </div>
</header>
