<header class="base-header ebcs-h-7 border-bottom">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-3 col-sm-1"></div>
      <div class="col-lg-6 col-sm-10 text-center p-1">
        <h3 class="h-100">سامانه یکپارچه مدیریت ساخت غرفه</h3>
      </div>
      <div class="col-lg-3 col-sm-1"></div>
    </div>
  </div>
</header>
<body class="base-content ebcs-h-93 overflow-hidden">
  <div class="container-fluid h-100 ebcs-dir-rtl">
    <div class="row ebcs-h-95">
      <div class="col-2 p-0 ebcs-bg ebcs-white-color border-left">
        <div class="row w-100 p-0 m-0 ebcs-h-5 ebcs-color border-bottom  ebcs-bg-yellow ebcs-clickable text-center"
             (click)="changeUserMenu()">
          <div class="col-lg-2 col-sm-6 m-auto"><i class="fa fa-id-card"></i></div>
          <div class="col-lg-10 col-sm-1 m-auto" [ngClass]="mobile?'d-none':''">
            <span class="m-auto" *ngIf="this.userDetail">{{userDetail.Name}} - {{userDetail.GroupName}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 position-absolute ebcs-bg-yellow ebc-level-3 p-0" [ngClass]="userMenu?'':'d-none' ">
            <ul class="list-group p-0 ebcs-border-radius-0 ">
              <li class="list-group-item ebcs-bg-yellow ebcs-border-bold-right-red ebcs-clickable text-center"
                  (click)="changePass()">
                <div class="row">
                  <div class="col-lg-2 col-sm-12 text-center"><i class="fa fa-key"></i></div>
                  <div class="col-10 text-right" [ngClass]="mobile?'d-none':''"
                  >تغییر رمز عبور</div>
                </div>
              </li>
              <li class="list-group-item ebcs-bg-yellow ebcs-border-bold-right-red ebcs-clickable text-center"
                  (click)="logout()">
                <div class="row">
                  <div class="col-lg-2 col-sm-12 text-center"><i class="fa fa-power-off"></i></div>
                  <div class="col-10 text-right" [ngClass]="mobile?'d-none':''">خروج</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="container-fluid w-100 ebcs-h-95 ">
          <div class="row ebcs-h-7  border-bottom ebcs-clickable" [routerLink]="'/Dashboard'">
            <div class="col-lg-2 col-sm-11 m-auto"><i ngClass="fa fa-home"></i></div>
            <div class="col-lg-10 col-sm-1 m-auto text-regular" [ngClass]="mobile?'d-none':''">خانه</div>
          </div>
          <ng-template ngFor let-menu [ngForOf]="menus">
            <div class="row ebcs-h-7  border-bottom ebcs-clickable "
                 [routerLink]="menu.Link"
                 *ngIf="!menu.MenuRef"
                 [ngClass]="router.url.split('/')[2]===menu.Link?'ebcs-bg-yellow':''"
            >
              <div class="col-lg-2 col-sm-11 m-auto"><i [ngClass]="menu.Icon"></i></div>
              <div class="col-lg-10 col-sm-1 m-auto text-regular" [ngClass]="mobile?'d-none':''">{{menu.Title}}</div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-10 bg-white h-100 overflow-auto">
        <router-outlet (activate)="activeLinkHandler()"></router-outlet>
      </div>
    </div>
    <div class="row ebcs-h-5 border-top  ">

      <div class="col-2 ebcs-bg ebcs-white-color text-center border-left m-auto ebcs-clickable"
           [ngbTooltip]="versionDetail">
        <span [ngClass]="mobile?'d-none':''">ver </span>
        <span>1.0.5</span>
      </div>
      <div class="col-10 bg-white h-100  text-center m-auto">
        شرکت نمایشگاه های بین المللی ایران
      </div>
    </div>
  </div>
</body>
