<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <td>شرح</td>
          <td>غرفه</td>
          <td>مشارکت کننده</td>
          <td>مبلغ</td>
          <td>شناسه ردیابی</td>
          <td>کد پیگیری</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{description}}</td>
          <td>{{details.Name}}</td>
          <td>{{details.CompanyName}}</td>
          <td>{{amount}}</td>
          <td>{{retrivalRefNo}}</td>
          <td>{{systemTraceNo}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
