<app-modal-header [title]="title" (closed)='close()'></app-modal-header>
<form [formGroup]="formGroup">
  <div class="row p-3">
    <div class="col-12">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" formControlName="Name" class="form-control text-right" placeholder="مثال : 123">
          <div class="input-group-append">
            <span class="input-group-text"> نام</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text"  formControlName="Mobile" class="form-control text-right" placeholder="مثال : 0912000000">
          <div class="input-group-append">
            <span class="input-group-text"> موبایل</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3 ">
          <div ngbDropdown  class="d-inline-block ebcs-dir-rtl flex-fill "  >
            <button class="btn form-control ebcs-border-radius-Left ebcs-border text-right" id="dropdownBasic1" ngbDropdownToggle >{{boothBuilderGradedpdown}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <ng-template ngFor let-boothbuilderGrade [ngForOf]="boothBuilderGradeDropDown">
                <button ngbDropdownItem (focus)="setBoothBuilderGradeData(boothbuilderGrade)" >{{boothbuilderGrade.Title}}</button>
              </ng-template>
            </div>
          </div>
          <div class="input-group-append ">
            <span class="input-group-text">گرید </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
<app-modal-footer (saved)="save()"></app-modal-footer>
