<app-modal-header (closed)="close()"></app-modal-header>
<div class="row pt-2">
  <div class="col-12 text-center">
    <img width="200px" *ngIf="data" src="https://design.iranfair.com/Files/Halls/{{data[0].NameDB}}.{{data[0].Name.split('.')[1]}}">
  </div>
</div>
<div class="p-2">
<input type="file" ng2FileSelect [uploader]="uploader" /><br/>
<button type="button" class="btn btn-success btn-s ml-2"
        (click)="uploadAll()" >
  <span class="glyphicon glyphicon-upload"></span> آپلود
</button>
</div>
