<app-modal-header [title]="title" (closed)='close()'></app-modal-header>
<div class="row p-2">
  <div class="col-3">
    <div class="card">
      <div class="card-header text-center">salam</div>
      <div class="card-body">
        <img class="w-100" src="http://localhost/Files/Plans/5f92db446cc4e.jpeg" (click)="showGallery(0)">
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header text-center">salam</div>
      <div class="card-body">
        <img class="w-100" src="http://localhost/Files/Plans/5f92db446cc4e.jpeg" (click)="showGallery(0)">
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header text-center">salam</div>
      <div class="card-body">
        <img class="w-100" src="http://localhost/Files/Plans/5f92db446cc4e.jpeg" (click)="showGallery(0)">
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header text-center">salam</div>
      <div class="card-body">
        <img class="w-100" src="http://localhost/Files/Plans/5f92db446cc4e.jpeg" (click)="showGallery(0)">
      </div>
    </div>
  </div>
</div>


