<div class="container p-2">
  <div class="row" style="direction: rtl;text-align: right">
    <div class="col-md-9" style="margin-bottom: 40px">

      <p class="pt-2">تعداد آپلود: {{ uploader?.queue?.length+lastFiles?.length }}</p>

      <table class="table">
        <thead >
        <tr>
          <th class="text-right" width="30%">نوع</th>
          <th class="text-right" width="50%">نام</th>
          <th class="text-center">اندازه</th>
          <th class="text-center">عملیات</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-lastItem [ngForOf]="lastFiles">
          <tr [ngClass]="lastItem.PlanApprove == 0 ? 'text-danger':lastItem.PlanApprove == 1 ? 'text-success':'' ">
            <td class="ebcs-clickable text-right" (click)="getImage(lastItem)"><strong>{{ lastItem.TypeTitle }} {{lastItem.PlanApprove}}</strong></td>
            <td class="ebcs-clickable text-right" (click)="getImage(lastItem)"><strong>{{ lastItem.Name }}</strong></td>
            <td nowrap class="text-center">{{ lastItem.Size / 1024 / 1024 | number:'.2' }} MB</td>
            <td class="text-center"><span (click)="deleteLastRow(lastItem.Id)"><i class="ebcs-clickable fa fa-trash text-danger"></i></span></td>
          </tr>
        </ng-template>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <div class="form-group w-100">
                <div ngbDropdown  class="d-inline-block ebcs-dir-rtl flex-fill w-100"  >
                  <button class="btn form-control ebcs-border-radius-Left ebcs-border text-right" id="dropdownBasic1" ngbDropdownToggle >{{item.formData[0]?.Title}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                    <ng-template ngFor let-type [ngForOf]="typeOfImage">
                      <button ngbDropdownItem (focus)="changeDropDown(type,item?.file?.name)" >{{type.Title}}</button>
                    </ng-template>
                  </div>
                </div>
            </div>
          </td>
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
          <td>-</td>
        </tr>
        </tbody>
      </table>
      <div>
<!--        || uploader?.queue?.length + lastFiles?.length != 13-->
<!--        <button type="button" class="btn btn-success btn-s ml-2"-->
<!--                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length ">-->
<!--          <span class="glyphicon glyphicon-upload"></span> آپلود همه-->
<!--        </button>-->
        <button type="button" class="btn btn-success btn-s ml-2"
                (click)="uploadAll()" [disabled]="!uploader.getNotUploadedItems().length ">
<!--          || uploader?.queue?.length + lastFiles?.length != validCount-->
          <span class="glyphicon glyphicon-upload"></span> آپلود همه
        </button>
      </div>

    </div>
<!--    *ngIf="uploader?.queue?.length<1"-->
    <div class="col-md-3"  >
      <h3>انتخاب فایل</h3>
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="well my-drop-zone p-3 pt-4 pb-4">
        فایل ها را در اینجا رها کنید
      </div>
      <br>
      انتخاب
      <input type="file" ng2FileSelect [uploader]="uploader"   multiple/><br/>
    </div>
  </div>
</div>
