<app-modal-header [title]="title" (closed)='close()'></app-modal-header>
<form [formGroup]="formGroup">
  <div class="row p-3">
    <div class="col-12">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" formControlName="Title" class="form-control text-right" placeholder="مثال : A">
          <div class="input-group-append">
            <span class="input-group-text">عنوان گرید</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="number" formControlName="LimitArea" class="form-control text-right" placeholder="مثال : 100">
          <div class="input-group-append">
            <span class="input-group-text">حداکثر متراژ</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
<app-modal-footer (saved)="save()"></app-modal-footer>
