<div class="row ebcs-h-5">
  <div class="col-12 border-bottom pr-0 pl-0 h-100 ebcs-bg-yellow">
    <div class="d-flex  h-100 ">
      <div class="m-auto flex-fill border-left text-center ebcs-clickable"
           routerLink="ExecuterList" [ngClass]="this.router.url.includes('/ExecuterList')?'text-white':''">
        <fa-icon [icon]="iUsers"></fa-icon>
        <span class="pr-2" [class]="mobile?'d-none':''">لیست مجریان</span>
      </div>
      <div class="m-auto flex-fill border-left text-center ebcs-clickable"
           routerLink="BoothList" [ngClass]="this.router.url.includes('/BoothList')?'text-white':''">
        <fa-icon [icon]="iList"></fa-icon>
        <span class="pr-2" [class]="mobile?'d-none':''">غرفه ها</span>
      </div>
    </div>
  </div>
</div>
<div class="row ebcs-h-95">
  <div class="col-12">
    <router-outlet (activate)="activeLinkHandler()"></router-outlet>
  </div>
</div>
